.b-font {
    color: black;
    font-size: 50px;
    background-color: white;
}
.center {
    text-align: center;
}
.dark {
    background-color: black;
    color: white;
}
.size {
    line-height: 2em;
    font-size: 20px;
}
.small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#ynab {
    padding: 30px;
}
#calc {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#rs {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
